.head{
    background: orange;
    height: 50px;
}
.left{
    height: 500px;
    background: cadetblue;
    float: left;
}

.contain {
    height: 700px;
    background: white;
    float: left;
}

.row1{
    width: 80%;
    height: 100px;
    background: greenyellow;
    margin: 0 auto;
}
.row2{
    width: 80%;
    height: 200px;
    background: greenyellow;
    margin: 0 auto;
}
.row3{
    width: 80%;
    height: 400px;
    background: greenyellow;
    margin: 0 auto;
    margin-top: 10px;
}
.right{
    height: 500px;
    background: black;
    float: left;
}

li{
    list-style-type: none; /*bỏ dấu chấm đầu dòng*/
    margin-bottom: 15px;
}

a{
    text-decoration-line: none; /*bỏ gạch chân dưới*/
    font-style: revert;
    color: black;
}

img {
    margin-right: 15px; /*khoản cách giữa icon và ảnh*/
    vertical-align: middle; /*cân bằng giữa icon và ảnh*/
    width: 40px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}